button {
    color: white
}

.active {
    background-color: green;
    display: inline;
    position: relative;
    float: right;
}
.inactive {
    background-color:  rgb(18, 90, 119);
    display: inline;
    position: relative;
    float: right;
}

.dislike {
    background-color: red;
    display: inline;
    position: relative;
    float: right;
}